<h3>Login</h3>
<form class="" action="/login" method="post">
  <input type="text" name="user_name" placeholder="username">
  <input type="password" name="password" placeholder="your password">
  <input type="submit" value="Login">
</form>

<h3>Register</h3>
<form class="" action="/register" method="post">
  <input type="text" name="user_name" placeholder="username">
  <input type="email" name="user_email" placeholder="your email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Register">
</form>

<% if @message %>
<%= @message %>
<% end %>
