<div id="floating-panel">
  <input id="address" type="textbox" placeholder="Search">
  <input id="submit" type="button" value="Submit">
</div>
<div id="map"></div>

<button id="btn" type="button" name="button"></button>
<div id="mountainsId">

</div>
<div id="titleId">

</div>
<div id="showsID">

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&signed_in=true&callback=initMap"
    async defer>
</script>
