<nav class="navbar navbar-dark bg-faded">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="../events/save">Your Shows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mountains">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

<div class="home">
  <h3>Show Removed</h3>

</div>
