<body>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
    <!-- <input type="button" name="name" value="search for mountain" onclick="selectMountain()">
    <input type="button" name="name" value="find shows" onclick="songkickFunction()"> -->
    <!-- <input type="button" name="name" value="control function" onclick="controlFunction()"> -->
    <!-- <div id="mountainsID"></div>
    <div id="titleID"></div>
    <div id="showsID"></div>
    <div id="scrollbar2">

    </div> -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZIQZi189kd-UdgZ8-ZlkKtS1VLWH0vAs&signed_in=true&callback=initMap"
        async defer>
    </script>

  </body>
