rackup<h2>Saved Events</h2>

<table>
  <thead>
    <th>
      id
    </th>
    <th>
      day
    </th>
    <th>
      show
    </th>
    <th>
      url
    </th>
    <th>
      remove?
    </th>
  </thead>

<tbody>
  <% @saved.each do |saved |%>
  <tr>
    <td>
      <%= saved.id %>
    </td>
    <td>
      <%= saved.day %>
    </td>
    <td>
      <%= saved.event_name %>
    </td>
    <td>
      <%= saved.event_url %>
    </td>
    <td>
      <form action="/" method="post">
        <input type="hidden" name="id" value="">
      </form>
    </td>

  </tr>
</tbody>

  <% end %>
