html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   background: url(/imgs/FreeVector-Skiing-Vector.jpg);
   background-size: cover;
 }
.mountainsClass{
 float: left;
 /*width: 20px;*/
}
.mountainsClass:target,
.mountainsClass:focus
{
background-image:none;
background-color:#87CEFA ;
}

.showButtonClass{
 float:left;
}

.jumbotron {
  background-color: rgb(5, 87, 6);
  text-align: center;
  color: rgb(198, 195, 195);
  height: 200px;
}

h1 {
  display: inline-block;
}

.img-responsive {
  height: 100px;
  width: 100px;
}

#d1 {
  float: left;
}

#d2 {
  float: right;
}

#save{
  padding: 0px;
}

#map {
   height: 50%;
   width: 70%;
   margin-left: 15%;
   margin-right: 15%;
 }

 #btn {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 10px;
 }

 .mtns {
   list-style-type: none;
   font-size: 20px;
 }

 .mtn_list {
   width: 20%;
   margin-left: 40%;
   margin-right: 40%;
   margin-top: 5px;
 }

#floating-panel {
margin-top: 5%;
left: 25%;
right: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 11px;
}

.login {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 5%;
}

.register {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 5%;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
 }
